.form-control input,
.form-control label,
.form-control textarea
{
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea
{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.form-control input.error,
.form-control label.error {
    color: rgb(229,24,58);
}

.form-control label.error {
    font-size: 0.8em;
    height: 30px;
    padding-top: 2px;
}

.form-control textarea.error,
.form-control input.error {
    border-color: rgba(229,24,58,0.5);
    margin-bottom: 0;
}

.form-control textarea.error::placeholder,
.form-control input.error::placeholder {
    color: rgb(229,24,58);
}

form .form-control:last-child {
    margin-bottom: 30px;
}