.home-intro h1 {
    color: #fff;
    font-weight: 300;
    padding-top: 30px;
}

.home-intro h1 strong {
    color: #8eff82;
    font-weight: 700;
}




.home-visual-container {
    overflow: hidden;
    position: relative;
    margin: 40px -30px 0 -30px;
}

.home-visual {
    margin-top: 16%;
    position: relative;
    left: -18%;
    -webkit-transform: rotate(-45deg) skewY(33deg);
    transform: rotate(-45deg) skewY(33deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

.home-visual-recargas{
    width: 60%;
}
.home-visual-webcastle {
    width: 30%;
}

.home-visual img+img {
    margin-left: 15px;
}

.home-visual-recargas,
.home-visual-webcastle {
    border-radius: 12px;
    -webkit-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.5);
    box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.5);
}
