.visual-container { 
    padding: 2% 0 10% 0;
    overflow: hidden;
    position: relative;
    margin: 0 -30px 0 -30px;
}

.visual {
    position: relative;
    -webkit-transform: rotate(-45deg) skewY(33deg);
    transform: rotate(-45deg) skewY(33deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.visual img+img {
    margin-left: 10px;
}

*[class^='visual-el-'] {
    position: relative;
    border-radius: 12px;
    -webkit-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.4);
    box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.4);
}

.visual-el-recargas{
    width: 60%;
    z-index: 1;
}
.visual-el-webcastle {
    width: 30%;
}
.visual-el-ding{
    width: 32%;
    z-index: 2;
}
.visual-el-digicel {
    width: 57%;
    z-index: 1;
}
.visual-el-stripe {
    position: absolute;
    z-index: 0;
    width: 90%;
    height: 80px;
    bottom: 10%;
    left: -10%;
    border-radius: 40px;
    background: linear-gradient(90deg, #7cdef7,#7fe4e2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.visual.home-bottom {
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
    left: 15%;
}

@media (min-width: 576px) {
    .visual img+img {
        margin-left: 15px;
    }    
}

@media (min-width: 768px) {
    
    .home-intro {
        margin-bottom: 110px;
    }

    .home-intro h1 {
        padding-top: 60px;
        font-size: 2.4em;
        margin-bottom: 30px;
        letter-spacing: initial;
    }

    .home-section {
        position: relative;
    }

    .home-section h2, .home-section p, .home-section {
        text-align: left;
    }

    .home-section h2 {
        font-weight: 700;
        margin-right: 0;
    }

    .home-section .icon {
        display: none;
    }

    .visual-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        position: absolute;
        overflow: hidden;
        max-width: 100%;
        height: 100%;
        padding: 0;
    }
    
    .visual.home-top {
        width: 400px;
        display: flex;
        margin: 0;
        top: 245px;
        left: 60%;
        align-items:flex-start;
        align-content:flex-start;
        flex-flow: wrap;
    }

    .visual.home-top {
        width: 60%;
        margin-top: calc(400px - (100%*0.30));
        top: 0;
        left: 65%;
        transition: width 0.4s ease, margin 0.4s ease, left 0.4s ease;
    }

    .visual img {
        position: relative;
        display: inline-block;
        top: 0;
        margin-bottom: 30px;
    }

    .visual img+img {
        margin-left: 30px;
    }

    .visual-el-recargas{
        margin-top: 20%;
    }

    .visual-el-digicel{
        width: 50%;
    }
    .visual.home-top .visual-el-stripe {
        width: 150%;
        bottom: 5%;
    }

}

@media (min-width: 992px) {

    .visual.home-top {
        width: 50%;
        left: 70%;
        margin-top: calc(400px - (100%*0.30));
    }
    
    .home-intro h1 {
        padding-top: 50px;
    }

    .home-section h2 {
        font-size: 1.5em;
    }

    .home-section h2, .home-section p, .home-section {
        /* text-align: right; */
    }

    .home-section .icon {
        /* left: auto;
        right: -40px; */
    }

    .home-section h2 {
        font-size: 1.5em;
        margin-left: 0;
        margin-right: 40px;
    }
}

@media (min-width: 1200px) {
    .visual.home-top {
        width: 33%;
        left: 60%;
        margin-top: calc(400px - (100%*0.18));
    }    
}