.home-intro h1 {
    color: #fff;
    font-weight: 300;
    padding-top: 30px;
}

.home-intro h1 strong {
    color: #8eff82;
    font-weight: 700;
}




.visual-container {
    overflow: hidden;
    position: relative;
    margin: 20px -30px 0 -30px;
}

.visual {
    margin-top: 16%;
    position: relative;
    -webkit-transform: rotate(-45deg) skewY(33deg);
    transform: rotate(-45deg) skewY(33deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

.visual img+img {
    margin-left: 15px;
}

*[class^='visual-el-'] {
    position: relative;
    border-radius: 12px;
    -webkit-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.3);
    box-shadow: -8px 8px 22px 0px rgba(0,0,0,0.3);
}

.visual-el-recargas{
    width: 60%;
    z-index: 1;
}
.visual-el-webcastle {
    width: 30%;
}
.visual-el-ding{
    width: 32%;
    z-index: 2;
}
.visual-el-digicel {
    width: 57%;
    z-index: 1;
}
.visual-el-stripe {
    position: absolute;
    z-index: 0;
    width: 90%;
    height: 80px;
    bottom: 10%;
    left: -10%;
    border-radius: 40px;
    background: linear-gradient(90deg, #7cdef7,#7fe4e2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.visual.home-top {
    left: -18%;
}

.visual.home-bottom {
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
    left: 15%;
}
