html, body {
    height: 100%;
    position: relative;
}

body, a, a:visited, a:active, a:hover {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    color: #021b5e;
    font-weight: 400;
    letter-spacing: -0.2px;
}

h1 {
    font-size: 1.75em
}

h2 {
    font-size: 1.3em;
}

p {
    line-height: 22px;
}

/**********************************************************************/
/******************************** CORE ********************************/
/**********************************************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.clear:after {
    content:'';
    display: block;
    clear: both;
}

.stack > * {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.cover-shadow {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;    
    background-color: #000;
    z-index: 99;
    opacity: 0.4;
    display: none;
}

.btn {
    border-radius: 20px;
    padding: 10px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    font-size: 16px;
}

.btn-primary {
    color: #021b5e;
    background-color: #8eff82;
    min-width: 200px;
    max-width: 100%;
    border: none;
    font-weight: 700;
}

/**********************************************************************/
/******************************* HEADER *******************************/
/**********************************************************************/

.main-header {
    position: relative;
    z-index: 2;
}

.main-header .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-main {
    max-width: 100%;     
}

.main-header .burger-icon {
    float: right;
}

.burger-icon {
    height: 40px;
    width: 40px;
    padding: 5px 2px;
}

.burger-icon-el {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
}

.burger-icon-el:last-child {
    margin-bottom: 0;
}

.nav-wrapper {
    position: fixed;
}

.nav-wrapper.open:after {
    opacity: 0.4;
}

.main-header .nav-content {
    position: fixed;
    top: 5px;
    bottom: 5px;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    -webkit-transition: right .4s ease, left .4s ease;
    transition: right .4s ease, left .4s ease;
    left: 100%;
    right: -100%;
}

.main-header .nav-content.open {
    left: 5px;
    right: 5px;
}

.main-header nav > ul > li {
    padding: 15px 20px;
    border-top: 1px solid #ccc;
}

.main-header nav li > a,
.main-header nav li > span {
    color: #777;
    font-weight: 700;
    display: block;
    padding: 5px 0;
}

.main-header nav li > a {
    color: #021b5e;
}

.btn-icon {
    display: block;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn-icon:hover {
    background-color: #ccc;
}

.btn-icon.btn-x {
    font-size: 25px;
    color: #777;
    width: 30px;
    height: 30px;
}

.btn-icon.btn-x:hover {
    color: #000;
}

.main-nav-mobile-header {
    padding: 15px 20px;
}

.main-nav-mobile-header .btn-x {
    float: right;
}


/**********************************************************************/
/******************************** BODY ********************************/
/**********************************************************************/
.page-body {
    position: relative;
    min-height: 100%;
    margin-bottom: -100px;
}

.page-body:after {
    content: '';
    display: block;
    height: 100px;
}

main .container {
    min-height: 200px;
    position: relative;
    z-index: 1;
}

/**********************************************************************/
/******************************* FOOTER *******************************/
/**********************************************************************/

footer.main-footer {
    position: relative;
    background-color: #eee;
    height: 100px;
}

.main-footer .container {
    background-color: #ddd;
}

.main-footer nav ul {
    text-align: center;
}

.main-footer nav ul:after {
    content:'';
    display: block;
    clear: both;
}

.main-footer nav ul li {
    display: inline-block;
    padding: 0 10px;
}