/**********************************************************************/
/******************************* HEADER *******************************/
/**********************************************************************/

.main-header {
    position: relative;
    z-index: 2;
}

.main-header .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-main {
    max-width: 100%;     
}

.main-header .burger-icon {
    float: right;
}

.burger-icon {
    height: 40px;
    width: 40px;
    padding: 5px 2px;
}

.burger-icon-el {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 8px;
}

.burger-icon-el:last-child {
    margin-bottom: 0;
}

.main-header .nav-content {
    position: fixed;
    top: 5px;
    bottom: 5px;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    -webkit-transition: right .4s ease, left .4s ease;
    transition: right .4s ease, left .4s ease;
    left: 100%;
    right: -100%;
}

.main-header .nav-content.open {
    left: 5px;
    right: 5px;
}

.main-header nav > ul > li {
    padding: 15px 20px;
    border-top: 1px solid #ccc;
}

.main-header nav li > a,
.main-header nav li > span {
    color: #777;
    font-weight: 700;
    display: block;
    padding: 5px 0;
}

.main-header nav li > a {
    color: #021b5e;
}

.btn-icon {
    display: block;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.btn-icon:hover {
    background-color: #ccc;
}

.btn-icon.btn-x {
    font-size: 25px;
    color: #777;
    width: 30px;
    height: 30px;
}

.btn-icon.btn-x:hover {
    color: #000;
}

.link-primary {
    color: #021b5e;
    font-weight: 700;
}

.main-nav-mobile-header {
    padding: 15px 20px;
}

.main-nav-mobile-header .btn-x {
    float: right;
}


/**********************************************************************/
/******************************** BODY ********************************/
/**********************************************************************/
.page-header {
    height: 220px;
    padding-bottom: 10%;
    box-sizing: content-box;
}

.page-body {
    position: relative;
    min-height: 100%;
    margin-bottom: -100px;
}

.page-body:after {
    content: '';
    display: block;
    height: 100px;
}

main .container {
    min-height: 200px;
    position: relative;
    z-index: 1;
}

.socials a {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.5;
    -webkit-transition: color .4s ease, opacity .4s ease;
    transition: color .4s ease, opacity .4s ease;
}

.socials a:hover {
    color: #021b5e;
    opacity: 1;
}

.socials a:last-child {
    margin-right: 0;
}

/**********************************************************************/
/******************************* FOOTER *******************************/
/**********************************************************************/

.main-footer {
    position: relative;
    margin-top: 100px;
}

.footer-wrapper {
    background-color: #eceaea;
    position: relative;
    z-index: 1;
}

.main-footer .logo {
    max-width: 100%;
    width: 180px;
    margin-bottom: 10px;
}

.main-footer small {
    display: block;
    width: 100%;
}

.main-footer ul.nav-root,
.main-footer ul.nav-root a {
    font-size: 0.9em;
}

.main-footer ul.nav-root ul li ul li a {
    color: #757575
}

.main-footer ul.nav-root > li > a,
.main-footer ul.nav-root > li > span {
    font-weight: 700;
    text-transform: uppercase;
}

.main-footer ul li ul li {
    padding-top: 5px;
}

.main-footer ul.nav-root > li {
    margin-bottom: 20px;
}

.footer-section {
    border-top: 1px solid #d0d0d0;
    padding: 30px;
}

.footer-section:last-child {
    text-align: center;
}

.footer-stripe {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -430px;
    height: 430px;
}

.footer-stripe:after {
    content: '';
    display: block;
    background-color: #eceaea;
    width: 100%;
    height: 500px;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    position: absolute;
    top: 95%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    h1 {
        font-size: 2.2em;
        padding-top: 30px;
    }

    /**********************************************************************/
    /********************************* NAV ********************************/
    /**********************************************************************/
    .main-header .nav-content {
        position: relative;
        background-color: transparent;
        border-radius: 0;
        right: auto;
        left: auto;
        top: auto;
        text-align: right;
    }

    .main-header nav > ul > li {
        position: relative;
        padding: 15px 20px;
        border-top: none;
        cursor: pointer;
    }

    .main-header nav ul ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #fff;
        border-radius: 10px;
        min-width: 150px;
        text-align: center;
        margin-top: 10px;
        -webkit-transition: opacity .4s ease, top .4s ease;
        transition: opacity .4s ease, top .4s ease;
        -webkit-box-shadow: -0px 8px 22px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: -0px 8px 22px 0px rgba(0,0,0,0.4);
        box-shadow: -0px 8px 22px 0px rgba(0,0,0,0.4);
        top: calc(100% - 20px);
        left: 50%;
        margin-left: -75px;
    }

    .main-header nav ul li:hover ul {
        top: calc(100% - 15px);
        opacity: 1;
        visibility: visible;
    }

    .main-header nav ul ul:after {
        content: '';
        display: block;
        position: absolute;
        width: 1;
        height: 1;
        border: 10px solid transparent;
        border-bottom-color: #fff;
        top: -20px;
        left: 50%;
        margin-left: -10px;
    }

    .main-header nav ul ul a {
        display: block;
        white-space: nowrap;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        font-size: 0.8em;
        text-decoration: none;
        background-color: #fff;
        -webkit-transition: background-color .4s ease;
        transition: background-color .4s ease;
    }

    .main-header nav ul ul a:hover {
        background-color: #c8f5ff;
        text-decoration: none;    
    }

    .main-header nav ul ul li:last-child a {
        border-bottom: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main-header nav ul ul li:first-child a {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .main-header nav > ul > li > a,
    .main-header nav > ul > li > span  {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.9em;
    }

    .main-header nav > ul > li {
        display: inline-block;
    }

    /**********************************************************************/
    /******************************* FOOTER *******************************/
    /**********************************************************************/

    .main-footer {
        margin-top: 200px;
    }

    .main-footer .container {
        display: flex;
        flex-direction: row-reverse;
    }    

    .footer-section {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .footer-section:last-child {
        text-align: left;
        width: 40%
    }
    .footer-section:first-child {
        text-align: right;
        width: 60%
    }
    .footer-wrapper {
        border-top: 1px solid #d0d0d0;
    }
}

@media (min-width: 992px) {

    .page-header {
        height: 300px;
        padding-bottom: 0;
    }    

    .footer-section:last-child,
    .footer-section:first-child {
        width: 50%;
    }

    .main-footer {
        margin-top: 250px;
    }
}