.stripes-home {
    height: 530px;
    background: linear-gradient(90deg, #031b5e,#06a0d9);
}

.stripe1-home {
    background: linear-gradient(90deg, #022567,#055f9d);
}

.stripe2-home {
    bottom: 0;
    left: 70%;
    background: linear-gradient(90deg, transparent, rgba(91, 217, 160, 0.7));
}

.stripe3-home {
    right:50%;
    bottom: 0;
    background: linear-gradient(90deg, #035190, transparent);
}

.stripe4-home {
    bottom: 16%;
    left: 82%;
    background: linear-gradient(90deg, transparent,rgba(91, 217, 160, 0.4));
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .stripe1-home {
        height: 32%;
        background: linear-gradient(90deg, #032e70,#044e8d);
    }

    .stripes-home {
        height: 500px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}