<script id="template-footer"  type="text/template">
    <footer class="main-footer">
        
        <nav class="container">
            <ul class="grid nav-root">
                <li class="col-xs-6">
                    <a href="/">Home</a>
                </li>
                <li class="col-xs-6">
                    <span>Company</span>
                    <ul>
                        <li><a href="#">Methodology</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
                </li>
                <li class="col-xs-6">
                    <span>Solutions</span>
                    <ul>
                        <li><a href="#">Success Cases</a></li>
                        <li><a href="#">Quotation</a></li>
                    </ul>
                </li>
                <li class="col-xs-6">
                    <span>Resources</span>
                    <ul>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Work with us</a></li>
                        <li><a href="#">Privacy and Terms</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <div class="container stack text-center">
            <img class="logo-main" src="images/logo.png" alt="Gorillas Studio" />
            <small>Copyright © 2019 Gorillas Studio Inc. All rights reserved</small>
        </div>

    </footer>
</script>