<script id="template-footer"  type="text/template">
    <footer class="main-footer">
        <nav class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="/methodology.html">Methodology</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/team.html">Team</a></li>
                <li><a href="/contacts.html">Contacts</a></li>
                <li><a href="/quotation.html">Quotation</a></li>
            </ul>
        </nav>
    </footer>
</script>