<script id="template-header" type="text/template">
    <header class="main-header">
        <div class="container">
            <div class="grid">
                <div class="col-xs-7 col-sm-3">
                    <img class="logo-main" src="images/logo-white.png" alt="Gorillas Studio">
                </div>
                <div class="col-xs-5 col-sm-9">
                    <div class="burger-icon" id="mobile-menu-button">
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                    </div>

                    <div id="top-nav" class="nav-content">
                        <div class="close-btn-wrapper clear">
                            <button id="btn-hide-nave" class="btn-icon btn-x">x</button>
                        </div>
                        <nav id="main-nav">
                            
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span>Company</span>
                                    <ul>
                                        <li><a href="#">Methodology</a></li>
                                        <li><a href="#">Our Team</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Solutions</span>
                                    <ul>
                                        <li><a href="#">Methodology</a></li>
                                        <li><a href="#">Our Team</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Resources</span>
                                    <ul>
                                        <li><a href="#">Contacts</a></li>
                                        <li><a href="#">Work with us</a></li>
                                        <li><a href="#">Privacy and Terms</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>    
                    </div>
                    <div id="top-mobile-menu-shadow" class="cover-shadow"></div>    

                </div>
                
            </div>
        </div>
    </header>
</script>