<script id="template-header" type="text/template">
    <header class="main-header">
        <div class="container">
            <div class="grid">
                <div class="col-xs-7 col-sm-3">
                    <img class="logo-main" src="images/logo-white.png" alt="Gorillas Studio">
                </div>
                <div class="col-xs-5 col-sm-9">
                    <div class="burger-icon">
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                    </div>
                    <nav id="main-nav">
            
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/services.html">Services</a></li>
                                <li><a href="/methodology.html">Methodology</a></li>
                                <li><a href="/about.html">About</a></li>
                                <li><a href="/team.html">Team</a></li>
                                <li><a href="/contacts.html">Contacts</a></li>
                                <li><a href="/quotation.html">Quotation</a></li>
                            </ul>
                    </nav>
                </div>
                
            </div>
        </div>
    </header>
</script>