<script id="template-header" type="text/template">
    <header class="main-header">
        <div class="container">
            <div class="grid">
                <div class="col-xs-7 col-sm-4">
                    <img class="logo-main" src="images/logo-white.png" alt="Gorillas Studio">
                </div>
                <div class="col-xs-5 col-sm-8">
                    <div class="burger-icon hidden-md hidden-lg" id="mobile-menu-button">
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                        <div class="burger-icon-el"></div>
                    </div>

                    <div id="top-nav" class="nav-content">
                        <div class="main-nav-mobile-header grid hidden-md hidden-lg">
                            <div class="col-xs-7">
                                <img class="logo-main" src="images/logo.png" alt="Gorillas Studio">
                            </div>
                            <div class="col-xs-5">
                                <button id="btn-hide-nave" class="btn-icon btn-x">x</button>
                            </div>
                        </div>
                        <nav id="main-nav">
                            
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <span>Company</span>
                                    <ul>
                                        <li><a href="methodology.html">Methodology</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Solutions</span>
                                    <ul>
                                        <li><a href="success-cases.html">Success Cases</a></li>
                                        <li><a href="technology.html">Technology</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span>Resources</span>
                                    <ul>
                                        <li><a href="contact.html">Contacts</a></li>
                                        <li><a href="terms.html">Privacy and Terms</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>    
                    </div>
                    <div id="top-mobile-menu-shadow hidden-md hidden-lg" class="cover-shadow"></div>    

                </div>
                
            </div>
        </div>
    </header>
</script>